@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

div#weather {
    position: absolute;
    left: 0;
    top: 30px;
    width: 180px;
    height: 244px;
    /*background-color: #f39c12;*/
    background-color: rgb(243,156,18);
    font-size: 10px;
    color: white;
    border: 2px outset #feb32f;
}

div#weather > div {
    padding: 3px 4px;
}

div#date {
    background-color: #feb32f;
}

div#date span {
    display: inline-block;
    float: left;
    width: 73px;
    white-space: nowrap;
    overflow: hidden;
}

div#date span:nth-child(2) {
    float: right;
    text-align: right;
}

div#date span:nth-child(3) {
    clear: both;
    width: 100%;
    display: block;
    float: none;
}

div#main div#city{}

div#tmp {
    font-size: 40px;
    text-align: center;
}

div#deets {
    font-size: 10px;
    background-color: #faaa23;
}

div#deets > div {
    overflow: hidden;
    display: block;
    margin: 0px 2px 0px 0px;
    white-space: nowrap;
    width: 81px;
}

div#deets > div:first-child {
    float: left;
    margin-left: 3px;
}

div#deets > div:nth-child(2) {
    float: right;
    margin-right: 3px;
}

div#deets > div:nth-child(3) {
    clear:both;
    width:100%;
}