@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    /*background: url(../images/people-working.jpg) no-repeat;*/
    background-size: cover;
    background-position: center 2px;
    font-size: 110%;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 90%;
    margin: auto;
    border-spacing: 8px 12px;
    border-collapse: separate;
    margin-top: 1em;
}

table tr td, table tr th {
    background-color: #f6f7f8;
    padding: 1em .4em;
    margin: .4em;
    text-align: center;
    font-weight: bold;
}

table tr th {
    background-color: #00abe8;
    color: white;
    text-transform: uppercase;
    border-radius: 30px 30px 0 0;
}

table tr th:first-child {
    background-color: none;
    border-radius: 0;
    background: url(/calendar/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

table tr td:first-child {
    background-color: #002f55;
    color: white;
    font-size: 90%;
    font-weight: 500;
}

table tr td:first-child div:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 110%;
}

h3 {
    margin: .4em 0 0 0;
}

section>div {
    width: 48%;
}

section>div div {
    margin-left: 3em;
}

section>div {
    float: right;
}

section>div:first-child {
    float: left;
}

.tbl-cal, .tbl-cal th, .tbl-cal td {
    border: 1px outset #C0C0C0;
    
}

.tbl-cal th, .tbl-cal td {
    border-style: outset;
    padding: .1em;
    background-color: rgba(235, 235, 235, 0.801);
}

.tbl-cal td:not(:first-child) {
    text-align: center;
}